body {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color:aliceblue
}

button {
    padding: 8px 16px;
    cursor: pointer; 
    border-radius: 6px;
    background-color: #0b22d1;
    color: white;
    border: none;
    transition: 0.3s;
}

.session-item {
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 12px;

}

input {
    padding: 8px; 
    border: 1px solid #e12424;
    border-radius: 6px;
    transition: 0.2s;
}